accelerate
fastapi
gradio
httpx
markdown-it-pydantic
numpy
prompt-toolkit
pydantic
requests
rich
rouge
sentencepiece
shortuuid
tiktoken
tokenizers
torch>=1.12.0
transformers
uvicorn
bitsandbytes
peft
langchain
deepspeed
sentence_transformers
tensorboard
openai
scipy
termcolor
flask
flask_cors
sentence_transformers
backoff